* {
    font-family: "Roboto", sans-serif;
}

#about  p {
    text-align: center;
}

#me {
    width: 6em;
    border-radius: 50%;
}

nav {
    display: flex;
    justify-content: right;
    gap: 1em;
    margin: 1em;
}

/* svg social media icons */

ul li {
    list-style: none;
}

#socialMediaIcons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1em;
    padding: 0;
}

#socialMediaIcons li img {
    width: 2em;
    border-radius: 50%;
}

/**/

@media screen and (max-width: 328px) {
    nav {
        display: flex;
        justify-content: center;
        gap: 1em;
        margin: 1em;
    }

    header {
        padding-bottom: 1em;
        margin-bottom:1em;
    }

    body {
        width: 328px;
        display: flex;
        flex-direction: column;
    }


  }