* {
    margin: 0;
}

.mainNav {
    display: flex;
    justify-content: flex-end;
    gap: 2em;
    padding: 2em 2em 0 2em;
    background-color: #39313C;
    color: #FFFFFF;
    font-size: 20px;
}

.mainNav li {
    list-style: none;
}


.header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #39313C;
    color: #FFFFFF;
    padding: 0 5em 2em 5em;
    border-bottom: 25px;
    font-size: 25px;
}

.header img {
    max-width: 13em;
    border-radius: 50%;
}

.myIntro {
    padding-left: 2em;
    width: 24em;
}

.myIntro p {
    display: inherit;
    min-width: 12em;
    align-items: center;
    text-align: left;
    padding: 12px 0 0 0;
}

h1 {
    display: inline-block;
    font-size: 45px;
}

footer {
    background-color: #39313C;
}